.btn {
  padding: 0.7rem;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.btnFull {
  width: 100%;
  letter-spacing: 1.5px;
}

.btnPrimary {
  background-color: lightblue;
}

.btnSecondary {
  background-color: #fa8264
}