.btn {
  padding: 0.7rem;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.btn-full {
  width: 100%;
  letter-spacing: 1.5px;
}

.btn-primary {
  background-color: lightblue;
}

.btn-secondary {
  background-color: #fa8264
}