.container {
  display: flex;
  padding: 1rem 0;
}

span {
  padding-left: 1rem;
}

.input[type="checkbox"] {
  opacity: 0;
  width: 1em;
  height: 1em;
  position:absolute;
  top: 1em;
}

.svg {
  width: 1em;
  height: 1em;
  border: 2px solid #eee;
  position: absolute;
  top: 1em;
}

.svg .path {
  transition: stroke-dashoffset .4s linear;
  stroke: #fff;
}

.label {
  display: block;
  padding-left: 2em;
  position: relative;
  color: #fff;
  top: 0;
  width: 100%;
  letter-spacing: 1px;
}