input[type="checkbox"] {
  opacity: 0;
  width: 1em;
  height: 1em;
  position:absolute;
  top: 1em;
}

svg {
  width: 1em;
  height: 1em;
  border: 2px solid #eee;
  position: absolute;
  top: 0.1em;
}

svg path {
  transition: stroke-dashoffset .4s linear;
  stroke: #000;
}

label {
  display: block;
  padding-left: 1.2em;
  position: relative;
  color: gray;
  top: 0;
}