@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  height: 100%;
  background-color: #333;
}

main.container {
  margin-top: 1rem;
  padding: 1rem;
  flex-grow: 1;
  min-height: 100%;
}

main, footer {
  flex-shrink: 0;
}

footer {
  margin-top: 0.5rem;
}